@font-face {
    font-family: "Open24";
    src: url("file:///home/nacho/the-odin-project/calculator/fonts/open_24_display_st/Open\ 24\ Display\ St.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("file:///home/nacho/the-odin-project/calculator/fonts/Roboto/Roboto-Regular.ttf");
}

#calculator{
    border: outset 8px hsl(0, 2%, 40%);
    border-radius: 15px;
    background-color: hsl(0, 2%, 35%);
    margin: 10px auto;
    width: 800px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#display{
    background-color: hsl(180, 19%, 86%);
    border: inset hsl(0, 2%, 40%);
    border-radius: 5px;
    border-width: 15px 18px 40px 18px;
    font-family: "Open24";
    width: 650px;
    height: 1em;
    padding: 0px 30px 20px 30px;
    text-align: right;
    font-size: 86pt;
    letter-spacing: 5px;
}

#btn_pad{
    width: 750px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
        "g h i j k"
        "d e f l m"
        "a b c n o"
        "p q q s s";
}

button{
    color: white;
    border: outset 5px;
    font-family: "Roboto Regular";
    font-size: 42pt;
    border-radius: 15px;
    margin: 20px 15px;
}

button:active{
    border-style: inset;
    color: hsl(0, 0%, 93%);
    padding: 5px 0px 0px 5px;
}

.digit{
    background-color: hsl(0, 0%, 57%);
    border-color: hsl(0, 0%, 62%);
}

.digit:active{
    background-color: hsl(0, 0%, 50%);
    border-color: hsl(0, 0%, 55%);
}

.operator{
    background-color: hsl(0, 1%, 25%);
    border-color: hsl(0, 1%, 30%);
}

.operator:active{
    background-color: hsl(0, 1%, 20%);
    border-color: hsl(0, 1%, 25%);
}

#one{
    grid-area: a;
}

#two{
    grid-area: b;
}

#three{
    grid-area: c;
}

#four{
    grid-area: d;
}

#five{
    grid-area: e;
}

#six{
    grid-area: f;
}

#seven{
    grid-area: g;
}

#eight{
    grid-area: h;
}

#nine{
    grid-area: i;
}

#zero{
    grid-area: q;
}

#dot{
    background-color: hsl(0, 0%, 57%);
    border-color: hsl(0, 0%, 62%);
    grid-area: p;
}

#dot:active{
    background-color: hsl(0, 0%, 50%);
    border-color: hsl(0, 0%, 55%);
}

#del_btn{
    background-color: hsl(0, 26%, 54%);
    border-color: hsl(0, 26%, 59%);
    font-size: 32pt;
    grid-area: j;
}

#clear_btn{
    background-color: hsl(0, 26%, 54%);
    border-color: hsl(0, 26%, 59%);
    grid-area: k;
}

#clear_btn:active, #del_btn:active{
    background-color: hsl(0, 26%, 47%);
    border-color: hsl(0, 26%, 52%);
}

#add_btn{
    grid-area: l;
}

#sub_btn{
    grid-area: m;
}

#mult_btn{
    grid-area: n;
}

#divi_btn{
    grid-area: o;
}

#equal_btn{
    background-color: hsl(0, 0%, 57%);
    border-color: hsl(0, 0%, 62%);
    grid-area: s;
}

#equal_btn:active{
    background-color: hsl(0, 0%, 50%);
    border-color: hsl(0, 0%, 55%);
}